[push]
	default = simple
[pull]
	rebase = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	name = André Carvalho
	email = asantostc@gmail.com
[alias]
	change = covereview change
	gofmt = codereview gofmt
	mail = codereview mail
	pending = codereview pending
	submit = codereview submit
	sync = codereview sync
[diff]
	compactionHeuristic = true
	algorithm = patience
[interactive]
	diffFilter = /usr/share/git-core/contrib/diff-highlight
[commit]
	template = /home/andrestc/.git-commit-template
[pager]
	log = /usr/share/git-core/contrib/diff-highlight | less
	show = /usr/share/git-core/contrib/diff-highlight | less
	diff = /usr/share/git-core/contrib/diff-highlight | less	
[core]
	pager = /usr/share/git-core/contrib/diff-highlight | less
[color]
	ui = always
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  commit = green
  meta = yellow
  frag = cyan
  old = red
  new = green
  whitespace = red reverse


